/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-blue: #5d8cb6;
  --color-dark-blue: #3e5d79;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-purple: #e5d1ff;
  --color-mint: #98f3eb;
  --color-black: #000000;
  --color-yellow: #e7d1bc;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*Size*/
  --border-radius: 5px;

  /*Annimation*/
  --annimation-duration: 300ms;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/*Universal tags*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section_container {
  max-width: 1200px;
  margin: auto;
}
/*Navbar*/

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--annimation-duration) ease-in-out;
}
#navbar.navbar--dark {
  z-index: 1;
  background: var(--color-blue);
}
.navbar__logo {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
}
.navbar__menu {
  display: flex;
}
.navbar_menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

.navbar_menu__item:hover {
  background-color: var(--color-dark-blue);
  border: 1px solid var(--color-light-white);
}
.navbar__toggle-btn {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 22px;
  color: var(--color-white);
  display: none;
}
/*Home*/
#Home {
  background: url('imgs/homebackground.jpg') center/ cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}
.home__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid var(--color-light-white);
}
.home__title,
.home__description {
  color: var(--color-white);
}
.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 1px solid var(--color-white);
  border-radius: var(--border-radius);
}

.home__contact:hover {
  background-color: var(--color-blue);
}
/*About*/
.about_majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: var(--color-blue);
  margin: auto;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon i {
  transition: all var(--annimation-duration) ease;
}
.major__icon:hover i {
  color: var(--color-mint);
  transform: rotate(-30deg) scale(1.1);
}
.major__icon:hover {
  border-color: var(--color-mint);
}
.major__title,
.major__description {
  color: var(--color-dark-grey);
}
.major__description {
  font-size: var(--font-small);
}
.school {
  display: flex;
  align-items: center;
}
.school i {
  font-size: 30px;
  color: var(--color-dark-grey);
}
.school_description {
  margin: 0px 16px;
  text-align: left;
}
.school__name,
.school__period {
  color: var(--color-light-grey);
}
.school__name {
  font-size: var(--font-small);
}
.school__period {
  font-size: var(--font-micro);
}
#Skills {
  background: var(--color-yellow);
}
.skillset {
  display: flex;
  background: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset__left {
  flex-basis: 60%;
  background: var(--color-dark-grey);
  padding: 20px 40px;
}
.skillset__right {
  flex-basis: 40%;
}
.tools {
  background: var(--color-grey);
}
.skill {
  margin-bottom: 10px;
}
.skillset__title {
  color: var(--color-white);
}
.skill_description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background: var(--color-grey);
  margin-top: 7px;
}
.skill_value {
  height: 3px;
  background: var(--color-blue);
}
.tools,
.etc {
  padding: 20px;
}
/*Work*/
.work__categories {
  margin: 40px;
}
.work__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}
.work__btn.selected,
.work__btn:hover {
  background: var(--color-blue);
  color: var(--color-white);
}
.categories__conut {
  background-color: var(--color-yellow);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: var(--annimation-duration) ease-in;
}
.work__btn.selected .categories__conut,
.work__btn:hover .categories__conut {
  opacity: 1;
  top: 7px;
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--annimation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.97);
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  position: relative;
  background: var(--color-light-white);
}
.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--annimation-duration) ease-in;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project__description h3 {
  color: var(--color-white);
}
.project__description h3::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-55%);
  margin-top: 8px;
  width: 50px;
  height: 2px;
  background-color: var(--color-dark-white);
}
/*Testimonial*/
#Testimonials {
  background: var(--color-light-white);
}
.testimonials {
  margin: 40px;
}
.testimonial {
  display: flex;
  margin: 32px 0;
}
.testimonial img {
  width: 150px;
  height: 150px;
}
.testimonial img:nth-child(odd) {
  margin-right: 40px;
}
.testimonial img:nth-child(even) {
  margin-left: 40px;
}
.testmonial__speech--bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}
.testmonial__speech--bubble p {
  color: var(--color-light-grey);
}
.testmonial__speech--bubble a {
  color: var(--color-blue);
}

/*Contact*/
#contact {
  background: var(--color-blue);
}
.contact__title,
.contavt__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}
.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}
.contact__links i {
  cursor: pointer;
  transition: all var(--annimation-duration) ease-in;
}
.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-dark-blue);
}

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 40px;
  color: var(--color-dark-blue);
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
/*For blow 768px screen width*/
@media all and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-blue);
    z-index: 1;
  }
  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menu {
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: none;
    margin-top: 10px;
  }
  .navbar__menu.open {
    display: block;
  }
  .navbar_menu__item {
  }
  .section {
    padding: 16px;
  }
  .about_majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .major {
    margin-bottom: 30px;
  }
  .work__btn {
    margin: 4px 0;
    width: 80%;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
  .testimonial {
    flex-direction: column;
    align-items: center;
  }
  .testimonial:last-child {
    flex-direction: column-reverse;
  }
  .testimonial img {
    width: 120px;
    height: 120px;
  }
  .testimonial img:nth-child(odd),
  .testimonial img:nth-child(even) {
    margin: 0px;
    margin-bottom: 30px;
  }
  .arrow-up {
    bottom: 16px;
    right: 16px;
  }
}
