/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-black: #000000;
  --color-red: rgb(240, 39, 39);
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /*Size*/
  --border-radius: 5px;
  /*Annimation*/
  --annimation-duration: 300ms;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
/*Universal tags*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.section {
  padding: 50px 40px;
  text-align: center;
  margin: auto;
}
.section_container {
  max-width: 1200px;
  margin: auto;
  height: auto;
}
/*Navbar*/
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--annimation-duration) ease-in-out;
}
#navbar.navbar--dark {
  z-index: 1;
  color: var(--color-black);
  background: var(--color-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.navbar__logo {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-medium);
}
.navbar__menu {
  display: flex;
}
.navbar_menu__item {
  position: relative;
  padding: 8px 0;
  margin: 0 12px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: var(--font-regular);
}
.navbar_menu__item.active {
  border-bottom: 1px solid var(--color-light-grey);
}
.navbar_menu__item::before {
  content: '';
  position: absolute;
  background: var(--color-light-grey);
  width: 0%;
  height: 1px;
  bottom: -1px;
  transition: 0.5s;
  left: 50%;
  transform: translateX(-50%);
}
.navbar_menu__item:hover::before{
  width: 100%;
}
.navbar__toggle-btn {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 22px;
  color: var(--color-white);
  display: none;
}
.navbar__toggle-btn i {
  cursor: pointer;
}
.navbar__toggle-btn.navbar--dark {
  color: var(--color-black);
}
/*Home*/
#Home {
  background: url('imgs/homebackground.jpg') center/ cover no-repeat;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home__title {
  color: var(--color-white);
}
.home__contact {
  position: relative;
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 20px;
  border: 1px solid var(--color-white);
}
.home__contact:hover {
  color: var(--color-white);
  background: var(--color-black);
  border-color: transparent;
}
/*About*/
#About {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40rem;
  max-width: 100%;
  margin: 0;
}
.about__inpo,
.about__me {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about__inpo {
  justify-content: center;
}
.about__inpo h2 {
  margin: 0;
}
.about__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
}
.school {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}
.school_description:first-child {
  margin-bottom: 8px;
}
.school__name {
  font-size: var(--font-small);
}
.about__addinpo {
  font-size: var(--font-micro);
  color: var(--color-grey);
}
.about__me {
  width: 500px;
  height: 400px;
  border: 0.5px solid var(--color-light-grey);
  border-radius: 11px;
  box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.05);
}
.about__me__topbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  background: var(--color-light-grey);
  border-radius: 10px 10px 0 0;
}
.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 5px;
}
.circle.red {
  background: #f25757;
}
.circle.yellow {
  background: #f0b952;
}
.circle.green {
  background: #26bf30;
}
.about__me__txt {
  height: 100%;
  padding: 40px;
}
.about__me h1 {
  font-size: var(--font-medium);
}
/*Skills*/
#Skills {
  padding: 80px 0;
  background: url('imgs/skillbackground.jpg') center/ cover no-repeat fixed;
}
#Skills .section_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.skills_txt h1,
.skills_txt h3,
.skillset__title {
  color: var(--color-white);
}
.skills_txt h1 {
  margin-top: 0;
}
.skillset {
  display: flex;
  justify-content: center;
  color: var(--color-light-white);
}
.skillsets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.skillsets ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 16rem;
  height: 16rem;
  padding: 7% 5%;
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--color-black);
}
.skillsets ul li {
  position: relative;
  width: 45%;
  height: 40%;
}
.skillsets ul li:nth-child(1),
.skillsets ul li:nth-child(2) {
  margin-bottom: 16px;
}
.skillsets ul li p {
  font-size: var(--font-micro);
  margin-top: 0;
}
.skillsets ul li img {
  width: 70%;
}
.skills__percent {
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  top: -5px;
  right: 8px;
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: var(--font-micro);
}
/*Work*/
.work__categories {
  margin: 40px;
}
.work__btn {
  border-radius: var(--border-radius);
  box-shadow: 0 0 8px rgba(75, 75, 75, 0.2);
  font-size: var(--font-regular);
  padding: 8px 48px;
  margin: 0 8px;
  position: relative;
}
.work__btn.selected,
.work__btn:hover {
  background: var(--color-black);
  color: var(--color-white);
}
.categories__conut {
  background-color: var(--color-light-grey);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: var(--annimation-duration) ease-in;
}
.work__btn.selected .categories__conut,
.work__btn:hover .categories__conut {
  opacity: 1;
  top: 7px;
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--annimation-duration) ease-out;
}
.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.97);
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: 2px;
  position: relative;
  background: var(--color-light-white);
  border-radius: 15px;
  overflow: hidden;
}
.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--annimation-duration) ease-in;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project__description h3 {
  color: var(--color-white);
}
.project__description h3::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-55%);
  margin-top: 8px;
  width: 50px;
  height: 2px;
  background-color: var(--color-white);
}
/*Contact*/
#contact {
  background: var(--color-black);
}
#contact section {
  margin: 0px;
}
.contact__title,
.contavt__email,
.contact__rights {
  color: var(--color-white);
}
.contact__title {
  margin: 32px 0;
}
.contact__link {
  font-size: var(--font-large);
  margin: 24px 0;
}
.contact__link i {
  cursor: pointer;
  transition: all var(--annimation-duration) ease-in;
}
.contact__link i:hover {
  transform: scale(1.2);
  color: var(--color-light-grey);
}
.arrow-up {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 50px;
  right: 50px;
  font-size: 35px;
  background-color: var(--color-grey);
  color: var(--color-white);
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}
.arrow-up:hover {
  animation: ani 0.5s linear;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
@keyframes ani {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/*For blow 768px screen width*/
@media all and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .section {
    padding: 20px;
  }
  /*Nav*/
  .navbar__toggle-btn {
    display: block;
    z-index: 1;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }
  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-top: 30vh;
    height: 100vh;
    margin: 0;
    left: 0;
    top: 0;
    flex-direction: column;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.911);
    display: none;
  }
  .navbar_menu__item {
    width: 25%;
    margin: auto;
    font-size: var(--font-medium);
  }
  .navbar__menu.open {
    display: block;
    color: var(--color-white);
  }
  .navbar__toggle-btn.open {
    color: var(--color-white);
  }
  /*Home*/
  #Home {
    height: 812px;
  }
  /*About*/
  #About {
    height: auto;
    flex-direction: column;
    padding: 60px 7%;
  }
  .about__inpo,
  .about__me {
    width: 100%;
  }
  .about__inpo {
    margin-bottom: 32px;
  }
  .about__avatar {
    width: 160px;
    height: 160px;
  }
  #About p {
    margin: 0 10px;
  }
  #About .school_description p {
    margin: 0px 0px;
  }
  .about__me__txt {
    padding: 30px;
  }
  /*Skills*/
  #Skills {
    background-attachment: scroll;
    padding: 50px 0px;
  }
  .skillset {
    flex-flow: row wrap;
  }
  .skillsets {
    width: 50%;
    padding: 0px;
  }
  .skillsets ul {
    width: 11rem;
    height: 11rem;
  }
  .skills__percent {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    top: -5px;
    right: 5px;
    font-size: 12px;
  }
  /*Work*/
  .work__btn {
    margin: 4px 0;
    width: 80%;
  }
  .project {
    flex-grow: 1;
  }
  /*Arrow Up*/
  .arrow-up {
    bottom: 16px;
    right: 16px;
  }
}
